*{
    margin: 0px;
    padding: 0px;
}


#espaco {
    background-image: url(imagens/espaco.jpg);
    background-size: 100% 100%;

    position: relative;
    height: 100vh;
}

#astronauta{
    background-image: url(imagens/astronauta.png);
    background-repeat: no-repeat;

    position: absolute;
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}