@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
 
}

body{
    background-image: linear-gradient(to right,#F2994B,#F2D194);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(33, 18, 12);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
  color: #402116;
  text-align: center;
  text-shadow: 1px 1px 3px #2f1810;
}

h2{
   color: #125189;
}

p{
    text-align: justify;
}